:root {
  /**PALETTE**/
  --cc-purple: #9a43e3;
  --cc-blue: #58cfef;
  --cc-red: #ff4266;
  --cc-yellow: #ffbd31;
  --cc-orange: #ff6533;

  --cc-lightPurple: #e6c8ff;
  --cc-lightBlue: #c7f3ff;
  --cc-lightRed: #ffc6d1;
  --cc-lightYellow: #ffedc7;
  --cc-lightOrange: #ffd5c8;

  --cc-base1: #424272;
  /**TEXT SIZE*/

  /**FONT FAMILY*/
}
