:root {
  /**GENERAL PALETTE**/
  --cc-purple: #9a43e3;
  --cc-blue: #58cfef;
  --cc-red: #ff4266;
  --cc-yellow: #ffbd31;
  --cc-orange: #ff6533;

  /**AREAS PALETTE**/
  --cc-purple: #9a43e3;
  --cc-blue: #58cfef;
  --cc-red: #ff4266;
  --cc-yellow: #ffbd31;
  --cc-orange: #ff6533;

  --cc-base1: #424272;
  --cc-base2: #63639F;
  --cc-base3: #CDC9FF;
  --cc-base4: #E6E3FF;
  --cc-base5: #F3F2FF;
  --cc-base6: #FBFBFF;

/**GREY TEXT**/
  --c-grey1: #464A52;
  --c-grey2: #909297; 

  /**TEXT SIZE*/

  /**FONT FAMILY*/
}
