@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow');
:root {
  background: white;
}
/* || General styles */

/* prova stile bottone learn more */

body {
  font-family: 'Barlow', sans-serif;
  scroll-behavior: smooth;
}

/* learn more button */
.more_button {
  background: var(--cc-base1);
  box-shadow: 0px 4px 6px rgba(66, 66, 114, 0.16);
  border-radius: 35px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 32px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

.more_button:hover {
  background: #4d41c9;
  box-shadow: 0px 4px 6px rgba(66, 66, 114, 0.16);
}

.more_button:active {
  background: #4d41c9;
  box-shadow: inset 0px 4px 6px rgba(66, 66, 114, 0.16);
}

h1 {
  margin: 0;
}

h2,
h3 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}
